/* CustomerDashboardPage.css */

.customer-dashboard {
  padding: 20px;
  background-color: white;
}

.navigation-tiles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 20px;
}

.tile {
  flex: 1;
  background-color: #eaeaea;
  padding: 20px;
  margin-right: 10px;
  text-align: center;
  
}

.tile a {
  text-decoration: none;
  color: #fff;
}

.tile img {
  width: 100%; /* Adjust the size of the image as needed */
  margin-bottom: 10px;
}

.tile {
  flex: 1;
  background-color: #eaeaea;
  padding: 20px;
  margin-right: 10px;
  text-align: center;
}

.tile:nth-child(1) {
  background-color: #007bff; /* Red */
}

.tile:nth-child(2) {
  background-color: #17a2b8; /* Blue */
}

.tile:nth-child(3) {
  background-color: #28a745; /* Green */
}

.tile:nth-child(4) {
  background-color: #ffc107; /* Blue */
}

.tile:nth-child(5) {
  background-color: #343a40; /* Green */
}

.booking-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

/*.booking-card {
  background-color: #eaeaea;
  padding: 20px;
  padding-bottom: 50px;
}

.booking-card button {
  margin-top: 10px;
}*/
.booking-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;
}

.booking-card h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

.booking-card p {
  font-size: 14px;
  margin-bottom: 4px;
}

.booking-card .status {
  font-weight: bold;
}

.booking-card .cancel-button {
  background-color: #ff0000;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.booking-card .cancel-button:hover {
  background-color: #cc0000;
}


.logout-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.logout-button {
  padding: 10px 20px;
  background-color: #ffc107;
  border: none;
  cursor: pointer;
}







